<?xml version="1.0" encoding="UTF-8"?>

<config id="config"> 
  <BaseUrl>http://eagles.scilearn.cn/slc/learner?tenantId=raspberry&amp;schoolOrgId=raspberry-392-12565-205-1</BaseUrl>  
  <backendURL>https://diaby.scilearn.com.cn:8443/cas/login?service=http://diaby.scilearn.com.cn/slc/cas/validate</backendURL>  
  <ajaxWaitTime>60</ajaxWaitTime>  
  <!--default 60 seconds -->  
  <pageLoadWaitTime>300</pageLoadWaitTime>  
  <!--default 300 seconds -->  
  <Browser> 
    <type>chrome11</type>  
    <location>/Users/zhiyong/Library/Application Support/Google/chromedriver</location>  
    <!-- If use the path by default, type none. lily use: C:\Program Files (x86)\FF10\firefox.exe;C:\Users\hlgu\AppData\Local\Google\Chrome\Application\chromedriver.exe-->  
    <remote>192.168.1.33</remote>  
    <!-- If not remote driver, type none -->  
    <firebug>none</firebug>  
    <!-- If not use firebug, type none.lily use: C:\Users\hlgu\AppData\Roaming\Mozilla\Firefox\ff10\extensions\firebug@software.joehewitt.com.xpi -->  
    <firebug_version>1.9.2</firebug_version> 
  </Browser>  
  <students> 
    <!-- inprogress: "","none","Preview &amp; Read on My Own","Read &amp; Record","Take the Quiz"
   if inprogress  =""  means user can start the next assignment;   if inprogress="none", means user login at the first time-->  
    <student model="locked" loginName="lock4-5" password="lock4-5" firstName="Lock" lastName="4-5" school="raspberry-392-12565-205-1 School" inprogress="Read &amp; Record" points="5"> 
      <assignment> 
        <level>4-5</level>  
        <allNumber>91</allNumber>  
        <topicNumber>20</topicNumber> 
      </assignment> 
    </student>  
    <student model="unlocked" loginName="unlock6-8" password="unlock6-8" firstName="Unlock" lastName="6-8" school="raspberry-392-12565-205-1 School" inprogress="none" points="0"> 
      <!--&  = &amp;  -->  
      <assignment> 
        <level>6-8</level>  
        <allNumber>75</allNumber>  
        <topicNumber>23</topicNumber> 
      </assignment> 
    </student>  
    <student model="student-selected" loginName="select1-3" password="select1-3" firstName="Select" lastName="1-3" school="raspberry-392-12565-205-1 School" inprogress="none" points="0"> 
      <assignment> 
        <level>K-3</level>  
        <allNumber>60</allNumber>  
        <topicNumber>13</topicNumber> 
      </assignment> 
    </student>  
    <student model="CustomLibrary:unlocked" loginName="cusunlock" password="cusunlock" firstName="Cus" lastName="Unlock" school="raspberry-392-12565-205-1 School" inprogress="none" points="0"> 
      <assignment> 
        <level>testtt</level>  
        <allNumber>50</allNumber>  
        <topicNumber>0</topicNumber> 
      </assignment> 
    </student>  
    <student model="CustomLibrary:locked" loginName="cuslock" password="cuslock" firstName="Cus" lastName="Lock" school="raspberry-392-12565-205-1 School" inprogress="none" points="0"> 
      <assignment> 
        <level>testtt</level>  
        <allNumber>50</allNumber>  
        <topicNumber>0</topicNumber> 
      </assignment> 
    </student> 
    <student model="debug1" loginName="debug1" password="debug1" firstName="DE1" lastName="Bug1" school="raspberry-392-12565-205-1 School" inprogress="none" points="0">
      <assignment>
        <level>4-5</level>
        <allNumber>91</allNumber>
        <topicNumber>20</topicNumber>
      </assignment>
    </student>
    <student model="debug2" loginName="debug2" password="debug2" firstName="DE2" lastName="Bug2" school="raspberry-392-12565-205-1 School" inprogress="none" points="0">
      <assignment>
        <level>4-5</level>
        <allNumber>91</allNumber>
        <topicNumber>20</topicNumber>
      </assignment>
    </student>
    <student model="debug3" loginName="debug3" password="debug3" firstName="DE3" lastName="Bug3" school="raspberry-392-12565-205-1 School" inprogress="none" points="0">
      <assignment>
        <level>4-5</level>
        <allNumber>91</allNumber>
        <topicNumber>20</topicNumber>
      </assignment>
    </student>
        <student model="debug4" loginName="debug4" password="debug4" firstName="DE4" lastName="Bug4" school="raspberry-392-12565-205-1 School" inprogress="none" points="0">
      <assignment>
        <level>4-5</level>
        <allNumber>91</allNumber>
        <topicNumber>20</topicNumber>
      </assignment>
    </student>
        <student model="debug5" loginName="debug5" password="debug5" firstName="DE5" lastName="Bug5" school="raspberry-392-12565-205-1 School" inprogress="none" points="0">
      <assignment>
        <level>4-5</level>
        <allNumber>91</allNumber>
        <topicNumber>20</topicNumber>
      </assignment>
    </student>
        <student model="debug6" loginName="debug6" password="debug6" firstName="DE6" lastName="Bug6" school="raspberry-392-12565-205-1 School" inprogress="none" points="0">
      <assignment>
        <level>4-5</level>
        <allNumber>91</allNumber>
        <topicNumber>20</topicNumber>
      </assignment>
    </student>
  </students>
  <dm type="dm" username="dev@scilearn.com.cn" password="8atmyHouse"/> 
</config>
